  .comment-item {
    position: relative; 
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .comment-icons { 
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0; 
  }
  
  .comment-icons > div {
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
  
  .comment-item:hover .comment-icons {
    display: flex;
  }

  .comment-content-entire {
    font-family: cursive;
    font-style: italic;
  }
  .success {
    background-color: #4caf50 !important;
  }
  
  .error {
    background-color: #f44336 !important;
  }
  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  

  .loading-spinner {
    display: inline-block;
    border: 4px solid white;
    border-left-color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .cantinho {
    right: 5px;
    bottom: 0;
    color: blue;
    position: absolute;
  }

  @keyframes textEnter {
    0% { transform: translateY(0); opacity: 0; }
    100% { transform: translateY(-25px); opacity: 1;}
  }
  @keyframes textExit {
    0% { transform: translateY(-25px); opacity: 1;}
    100% { transform: translateY(0); opacity: 0;}
  }
  
  .banana .textEnter {
    animation: textEnter 0.5s linear forwards;

  }

  .banana .textExit {
    animation: textExit 0.5s linear forwards;
    
  }
  .textModal{
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    color: black;
    height: 15px;
    font-weight: bolder;
    font-size: small;
    align-items: center;
    text-align: center;
    font-family: cursive;
    transition: all 2s;
  }